/* /* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Background */
.main {
  min-height: 100vh;
  background: linear-gradient(#2A00B7, #42006C);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card Container */
.container {
  width: 90%;
  max-width: 420px;
  background: #ffffff;
  border-radius: 10px;
  padding-bottom: 25px;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  margin-top: 30px;
}

.text {
  color: #3c009d;
  font-size: 40px;
  font-weight: 700;
}

.underline {
  width: 60px;
  height: 6px;
  background: #3c009d;
  border-radius: 9px;
}

/* Inputs Section */
.inputs {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Input Box */
.input {
  display: flex;
  align-items: center;
  width: 90%;
  height: 65px;
  background: #eaeaea;
  border-radius: 6px;
  margin: auto;
}

/* Icons */
.icon {
  margin: 0 20px;
  font-size: 22px;
  color: #797979;
}

/* Input Field */
.input input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 16px;
}

/* Forgot Password */
.forgot-password {
  margin-top: 20px;
  padding-left: 30px;
  font-size: 16px;
  color: #797979;
}

.forgot-password span {
  color: #4c00b4;
  cursor: pointer;
}

/* Buttons */
.sumbit-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 40px auto 10px;
}

.sumbit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 45px;
  background: #4c00b4;
  color: #ffffff;
  border-radius: 50px;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}

/* Gray Button */
.gray {
  background: #eaeaea;
  color: #676767;
}

/* Mobile Responsive */
@media (max-width: 480px) {
  .text {
    font-size: 32px;
  }

  .forgot-password {
    padding-left: 20px;
    font-size: 15px;
  }

  .sumbit-container {
    flex-direction: column;
  }

  .sumbit {
    width: 100%;
  }
}
